{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - profil{% endblock %}

{% block body %}
    <div class="profil-photo-container">
        <img src="{{ asset('resources/images/profil/_default.png') }}" alt="photo profil">
    </div>
    
    <div class="profil-form-container">
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <button>Modifier</button>
        {{ form_end(profilForm) }}
    </div>
    
    <div class="motpasse-form-container">
        {{ form_start(motDePasseForm) }}
        {{ form_widget(motDePasseForm) }}
        <button>Changer de mot de passe!</button>
        {{ form_end(motDePasseForm) }}
    </div>
{% endblock %}
