{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - détail sortie
{% endblock %}

{% block body %}
    <h2>Afficher une sortie: {{ sortie.nom }}</h2>
    
    <div class="sortie-detail">
        <div id="sortie-detail-col1">
            <div>
                <span>Nom de la sortie: </span>
                <span>{{ sortie.nom }}</span>
            </div>
            
            <div>
                <span>Date et heure de la sortie: </span>
                <span>{{ sortie.dateHeureDebut | date('d/m/Y à h:i') }}</span>
            </div>
            
            <div>
                <span>Date limite d'inscription: </span>
                <span>{{ sortie.dateLimiteInscription | date('d/m/Y à h:i') }}</span>
            </div>
            
            <div>
                <span>Nombre de places: </span>
                <span>?/{{ sortie.nbInscriptionsMax }}</span>
            </div>
            
            <div>
                <span>Durée: </span>
                <span>{{ sortie.duree }} minutes</span>
            </div>
            
            <div>
                <span>Description et infos: </span>
                <span>{{ sortie.infosSortie }}</span>
            </div>
        </div>
        
        <div id="sortie-detail-col2">
            <div>
                <span>Campus: </span>
                <span>{{ sortie.campus.nom }}</span>
            </div>
            
            <div>
                <span>Lieu: </span>
                <span>{{ sortie.lieu.nom }}</span>
            </div>
            
            <div>
                <span>Rue: </span>
                <span>{{ sortie.lieu.rue }}</span>
            </div>
            
            <div>
                <span>Code postal: </span>
                <span>{{ sortie.lieu.ville.codePostal }}</span>
            </div>
            
            {% if sortie.lieu.latitude and sortie.lieu.longitude %}
                <div>
                    <span>Latitude: </span>
                    <span>{{ sortie.lieu.latitude }}</span>
                </div>
                
                <div>
                    <span>Longitude: </span>
                    <span>{{ sortie.lieu.longitude }}</span>
                </div>
            {% endif %}
        </div>
        
        <div class="participants-liste">
            <ul>
                {% for participant in sortie.participants %}
                    <li>
                        <span>{{ participant.pseudo }}</span>
                        <span>{{ participant.prenom }} {{ participant.nom }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


