{% extends 'base.html.twig' %}

{% block title %}Liste des sorties!{% endblock %}

{% block body %}
    <div class="flex justify-center my-5">
        {{ form_start(searchForm) }}

        {{ form_widget(searchForm) }}

        <button class="border-2">Rechercher</button>

        Publier la sortie
        Annuler la création

        {{ form_end(searchForm) }}
    </div>

    <div class="container flex justify-center my-5">
        <table class="border-2 border-gray-400 max-h-[200px] overflow-y-auto">
            <thead class="bg-gray-400">
            <tr>
                <th class="text-center border-2 border-black">Nom de la sortie</th>
                <th class="text-center border-2 border-black">Date de la Sortie</th>
                <th class="text-center border-2 border-black">Clôture</th>
                <th class="text-center border-2 border-black">inscrits/place</th>
                <th class="text-center border-2 border-black">Etat</th>
                <th class="text-center border-2 border-black">Inscrit</th>
                <th class="text-center border-2 border-black">Organisateur</th>
                <th class="text-center border-2 border-black">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td class="text-center border-2 border-gray-400">{{ sortie.nom }}</td>
                    <td class="text-center border-2 border-gray-400">{{ sortie.dateHeureDebut | date('d/m/Y  h:i') }}</td>
                    <td class="text-center border-2 border-gray-400">{{ sortie.dateLimiteInscription | date('d/m/Y ') }}</td>
                    <td class="text-center border-2 border-gray-400">{{ sortie.nbInscriptionsMax }}</td>
                    <td class="text-center border-2 border-gray-400">{{ sortie.etat.libelle }}</td>
                    <td class="text-center border-2 border-gray-400">non</td>
                    <td class="text-center border-2 border-gray-400">
                        <a class="hover:bg-blue-200 rounded"
                           href="{{ path('app_profil_detail',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                    </td>

                    <td class="text-center border-2 border-gray-400">
                        {% if is_granted('SORTIE_MODIFIER', sortie) %}
                            <div>
                                <a class="hover:bg-blue-200 rounded"
                                   href="{{ path('app_sortie_modifier',{'id' : sortie.id}) }}">Modifier</a>
                            </div>
                        {% endif %}

                        {% if is_granted('SORTIE_PUBLIER', sortie) %}
                            <div>
                                <a class="hover:bg-blue-200 rounded"
                                   href="{{ path('app_sortie_publier',{'id' : sortie.id}) }}">Publier</a>
                            </div>
                        {% endif %}

                        {% if is_granted('SORTIE_ANNULER', sortie) %}
                            <div>
                                <a class="hover:bg-blue-200 rounded"
                                   href="{{ path('app_sortie_annuler',{'id' : sortie.id}) }}">Annuler</a>
                            </div>
                        {% endif %}

                        {% if is_granted('SORTIE_AFFICHER', sortie) %}
                            <div>
                                <a class="hover:bg-blue-200 rounded"
                                   href="{{ path('app_sortie_detail',{'id' : sortie.id}) }}">Afficher</a>
                            </div>
                        {% endif %}

                        {% if is_granted('SORTIE_SINSCRIRE', sortie) %}
                            <div>
                                <a class="hover:bg-blue-200 rounded"
                                   href="{{ path('app_sortie_sinscrire',{'id' : sortie.id}) }}">s'inscrire</a>
                            </div>
                        {% endif %}

                        {% if is_granted('SORTIE_SE_DESISTER', sortie) %}
                            <div>
                                <a class="hover:bg-blue-200 rounded"
                                   href="{{ path('app_sortie_sedesister',{'id' : sortie.id}) }}">se désinscrire</a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="">
            <a class="bg-gray-400 hover:bg-gray-500 text-white font-bold ml-1 py-2 px-4 rounded"
               href="{{ path('app_sortie_creer') }}">Créer une sortie</a>
        </div>
    
    </div>




{% endblock %}
