{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container my-5">
    <table class="border-2 border-gray-400">
        <thead  >
        <th >Nom de la sortie</th>
        <th>Date de la Sortie</th>
        <th>Clôture</th>
        <th>inscrits/place</th>
        <th>Etat</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>

        </thead>
        <tbody>
        {%  for sortie in sorties  %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('d/m/Y  h:i')  }}</td>
                <td>{{ sortie.dateLimiteInscription | date('d/m/Y ')  }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>En cours</td>
                <td>non</td>
                <td><a href="{{ path('app_profil_detail',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td>
                <td>Afficher -se Desister</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}
